@model IEnumerable<OnlineConsultationManagementSystem.Models.Patient>

@{
    ViewData["Title"] = "Index";
    Patient firstPatient = Model.ToList().FirstOrDefault();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@firstPatient.Name"></label>
            </th>
            <th>
                <label asp-for="@firstPatient.Gender"></label>
            </th>
            <th>
                <label asp-for="@firstPatient.ContactInfo"></label>
            </th>
            <th>
                <label asp-for="@firstPatient.Address"></label>
            </th>
            <th>
                <label asp-for="@firstPatient.DateOfBirth"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.Name</label>
                </td>
                <td>
                    <label>@item.Gender</label>
                </td>
                <td>
                    <label>@item.ContactInfo</label>
                </td>
                <td>
                    <label>@item.Address</label>
                </td>
                <td>
                    <label>@item.DateOfBirth</label>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
